Q1. Print numbers from 1 to 20 using while loop.

Approach:
- Initialize a variable
- Use while condition
- Increment inside loop

In [4]:
#write answer here
n=0
while n<=20:
  print(n)
  n=n+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Q2. Print even numbers till 50 using while loop.

Approach:
- Start from 2
- Increment by 2
- Stop at 50

In [6]:
#write answer here
n=0
while n<=50:
  print(n)
  n=n+2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

**Q3**. Print multiplication table of 5.

Approach:
- Initialize counter
- Multiply inside loop

In [4]:
#write answer
n=int(input("enter the number:"))
i=1

while i <= 10:
    result = 5 * i   # Multiply inside loop
    print("5 x", i, "=", result)
    i += 1

enter the number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## Q4. Find sum of numbers from 1 to n.

Approach:
- Take input n
- Add numbers in loop

In [5]:
#write answer here
n = int(input("Enter a number: "))

total = 0

# Add numbers in loop
for i in range(1, n + 1):
    total += i

print("Sum from 1 to", n, "is:", total)

Enter a number: 5
Sum from 1 to 5 is: 15

Q5. Reverse a number using while loop.

Approach:
- Extract last digit
- Build reversed number

In [ ]:
#write answer here

var= int(input())

new = var

res=0

while var>0:
  temp = var % 10
  res = res*10 + temp
  var = var // 10

print(res)


if new==res:
  print("Palindrome")
else:
  print("Not Palindrome")

121
121
Palindrome

Q6. Count digits in a number.

Approach:
- Divide number by 10 repeatedly
- Count iterations

In [ ]:
#write answer here
num = int(input("Enter a number: "))

count = 0

# Handle negative numbers
num = abs(num)

# Divide number by 10 repeatedly
while num > 0:
    num = num // 10
    count += 1

print("Total digits:", count)

*Q7*. Check if a number is palindrome.

Approach:
- Reverse number
- Compare with original

In [6]:
#write answer here

num = int(input("Enter a number: "))

original = num
reverse = 0

# Reverse number
while num > 0:
    digit = num % 10
    reverse = reverse * 10 + digit
    num = num // 10

# Compare with original
if original == reverse:
    print("Palindrome number")
else:
    print("Not a palindrome number")

Enter a number: 121
Palindrome number

Q8. Guess the number game.

Approach:
- Use while loop
- Continue until correct guess

In [ ]:
#write answer here

var=int(input())

fake=10

while var!=fake:
  print("Try again")
  var=int(input())

print("Guessed correctly")

Submission link for this assignment -